#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  margin: 0;
  padding: 0;
}

.pulls-since {
  font-size: smaller;
}

.card {
  padding: 2em;
  min-width: 300px;
  text-align: center;
}

.card img {
  margin-top: 1rem;
  max-width: 250px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

button:active {
  background-color: rgb(20, 94, 138);
}

.puff-name {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 800;
}

ul {
  list-style: none;
  text-align: start;
  padding-left: 15px;
}

.previous-pulls {
  font-size: x-small;
  min-height: 300px;
}

.common {
  color: rgb(179, 179, 179);
}
.uncommon {
  color: rgb(88, 214, 98);
}
.super-rare {
  color: rgb(36, 228, 212);
filter: drop-shadow(0px 0px 10px rgba(36, 228, 212, .2))
}
.rare {
  color: rgb(69, 101, 243);
  filter: drop-shadow(0px 0px 10px rgba(1, 26, 255, 0.7))
  
}
.ultra-rare {
  color: rgb(133, 89, 255);
  filter: drop-shadow(0px 0px 10px rgba(71, 16, 219, 0.9))
}
.legendary {
  color: rgb(255, 243, 72);
  filter: drop-shadow(0px 0px 20px rgba(255, 230, 100, 1.0))
}

@media screen and (min-width: 48rem) {
  .grid {
    grid-template-columns: minmax(300px, 3fr) minmax(300px, 1fr);
  }
  h1 {
    font-size: 4rem;
  }
}